.background-wrap {
    background-image: url("images/pic_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 1093px;
}

header {
    width: 1103.41px;
    top: 35.02px;
    left: 171.59px;
}

ul .menu {
    list-style: none;
    display: flex;  /* Makes list side by side */
    justify-content: flex-end;  /* Moves list to the right */
    width: 234px;
    height: 15px;
    position: relative;
    top: 37px;
    left: 1041px;
}

ul .menu li {
    margin-right: 15px;  /* Space between list */
}

ul .menu a {
    text-decoration: none  /* Remove underline */
    color: white;  /* font */
    font-family: 'Source Sans Pro', sans-serif;
    font-size: /* Figure it out */
}

header .logo {
    width: 167.02px;
    height: 29.46px;
    top: 35.02px;
    left: 171.59px;
    background: #FFFFFF;
}