.header {
    width: 1103.41px;
    height: 29.46px;
    top: 35.02px;
    left: 171.59px;
    background-image: url("images/pic_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header .menu {
    width: 234px;
    height: 15px;
    top: 37px;
    left: 1041px;
    gap: 0px;
    opacity: 0px;
}

.header .logo {
    width: 167.02px;
    height: 29.46px;
    top: 35.02px;
    left: 171.59px;
    gap: 0px;
    opacity: 0px;
    background: #FFFFFF;
}